/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* Nord */
@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color arrow #5e81ac;
@define-color sound #4c566a;
@define-color network #4c566a;
@define-color memory #434c5e;
@define-color cpu #434c5e;
@define-color temp #3B4252;
@define-color battery #3B4252;
@define-color date #2e3440;
@define-color time #2e3440;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
    color: @critical;
  }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: @light;
  font-family: PragmataPro, Iosevka, FiraCode, Noto Sans;
  font-size: 10pt;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module that should blink */
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* Workspaces stuff */
#workspaces button {
  font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
  padding-left: 5px;
  padding-right: 5px;
  color: @dark;
  background: @workspaces;
}

#workspaces button.focused {
    background: @workspacesfocused;
}

#window {
  margin-right: 40px;
  margin-left: 40px;
}

#custom-alsa {
  background: @sound;
  color: @light;
}

#network {
  background: @network;
  color: @light;
}

#memory {
  background: @memory;
  color: @light;
}

#cpu {
  background: @cpu;
  color: @light;
}

#temperature {
  background: @temp;
  color: @light;
}

#custom-layout {
  background: @layout;
  color: @light;
}

#battery {
  background: @battery;
  color: @light;
}

#tray {
  background: @date;
}

#clock.date {
  background: @date;
  color: @light;
}

#clock.time {
  background: @time;
  color: @light;
}

#custom-arrow1 {
  font-size: 18px;
  color: @sound;
  background: transparent;
}

#custom-arrow2 {
  font-size: 10px;
  color: @arrow;
  background: @sound;
}

#custom-arrow3 {
  font-size: 18px;
  color: @memory;
  background: @network;
}

#custom-arrow4 {
  font-size: 10px;
  color: @arrow;
  background: @memory;
}

#custom-arrow5 {
  font-size: 18px;
  color: @temp;
  background: @cpu;
}

#custom-arrow6 {
  font-size: 10px;
  color: @arrow;
  background: @temp;
}

#custom-arrow7 {
  font-size: 18px;
  color: @date;
  background: @battery;
}

#custom-arrow8 {
  font-size: 10px;
  color: @arrow;
  background: @date;
}

#custom-arrow9 {
  font-size: 18px;
  color: @workspaces;
  background: transparent;
}
