/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* Nord */
@define-color foreground-shade  #404040;
@define-color foreground #191919;
@define-color background #dcdccc;
/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
  background: @background;
  color: @foreground;
  opacity: 0.95;
  font-family: PragmataProLiga Nerd Font, Iosevka, FiraCode, Noto Sans;
  font-size: 16px;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#network,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* Workspaces stuff */
#workspaces button {
  font-weight: 100;
  padding-left: 5px;
  padding-right: 5px;
  color: @foreground-shade;
  background: @background;
}

#workspaces button.focused {
  color: @foreground;
  font-weight: 700;
}

#window {
  margin-right: 40px;
  margin-left: 40px;
}

#network {
  background: @background;
  color: @foreground;
}

#battery {
  background: @background;
  color: @foreground;
}

#tray {
  background: @background;
}

#clock.date {
  background: @background;
  color: @foreground;
}

#clock.time {
  background: @background;
  color: @foreground;
}
